# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin compilation cache
.kotlin

# Ignore build artifacts
META-INF

# Ignore generated bin outputs
bin/
